.roundStep {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #a3a3a3;
  border: 1px solid #a3a3a3;
  cursor: pointer;
}

.activeRoundStep {
  background-color: #4bb063;
  color: #fff;
  border-color: #4bb063;
}

.step {
  border: 1px solid red;
}

.stepConnector {
  flex: 1;
  height: 0px;
  border: 1px dashed #dbdbdb;
}

.jobsiteHeading {
  display: flex;
  gap: 12px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 7px;
  height: 50px;
}

.slider {
  width: 100%;
}

.radiusBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  gap: 10px;
  width: 91px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #4f4f4f;
}

.radiusInput {
  width: 40px;
  height: 30px;
  background: #ffffff;
  text-align: right;
  border: 0px solid #dbdbdb;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #4f4f4f;
  right: 0px;
  -moz-appearance: textfield;
}
.radiusInput:focus {
  outline: none;
}

.radiusInput::-webkit-outer-spin-button,
.radiusInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formDarkHeading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #4f4f4f;
}

.formLightText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4f4f4f;
}

.lightText {
  color: #979797;
}

.tooltip {
  width: 238px;
}
