.modalContainer {
  width: 80vw;
  min-height: 693px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.emptyCardHeading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #3d3d3d;
}

.emptyCardSubHeading {
  width: 507px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #3d3d3d;
}

.tinyLink {
  color: #2380e3;
  text-decoration: underline;
  cursor: pointer;
}

.tourContainer {
  width: 500px;
  text-align: center;
}

.tourHeading {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}

.tourTextContainer {
  width: 100%;
  padding: 0px 32px;
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5f5f5f;
  display: block;
}

.boldTourText {
  font-weight: 800;
  color: black;
}
